 <mat-card>
  <mat-card class="example-card">
    <mat-card-header></mat-card-header>
    <img src="assets/sample1.jpg" alt="Photo Enginnering">
    <mat-card-content>
      <a href="https://www.bosch-india-software.com/en/index.html">Engineering</a>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <img src="assets/sample2.jpg" alt="Photo Technology">
    <mat-card-content>
      <a href="https://ap.boschaftermarket.com/in/en/index">Technology</a>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <img src="assets/types-of-engineers.jpg" alt="Photo of R&D">
    <mat-card-content>
      <a href="https://www.bosch.com/research/">Development</a>
    </mat-card-content>
  </mat-card>
</mat-card>

