 mat-card{
  background-color: rgb(174, 204, 204);
  height: 50%;
  border-radius: 0%;
}
mat-card-content{
  padding-top: 4%;
}
mat-card .example-card {

  display: inline-block !important;
  margin-top: 3%;
  margin-right: 5%;
  max-width: 220px;
  height: 70%;
  background-color: white;
  padding-top: 0%;
  margin-left: 10%;
  padding-left: 0%;
  padding-right: 0%;
  border-radius: 5%;
}

a{
  padding-left: 30%;
  padding-top: 10%;
  text-decoration: none;
  color:blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 220px;
  height: 150px;
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  /* background-size: cover; */
 }
