<div class="main">
<div class="topmenu">
  <img src="assets/bosch-vector-logo.png" alt="BoschLogo">
  <div class="topmenu-right">
    <a class="active" href="app.component.html">Home</a>
    <a href="{{contactusURL}}" target="_blank">Contact us</a>
    <a href="{{TermsURL}}" target="_blank">Terms of Use</a>
    <a href="app.component.html">{{name}}</a>
  </div>
</div>
<div class="submenu1">
  <div>
    <a href="{{dsfURL}}">Design Factory</a>
    <a href="{{brandsURL}}">Brands</a>
   <a href="{{surveyURL}}">Survey services</a>
  </div>
</div>
 <div class="cover">
     <img src="../assets/Background-bosch.jpg">
   <div class="title">
     <p>#LikeABosch</p>
   </div>
</div>
</div>
<app-infoslide></app-infoslide> <!--Tabs for Enigneering, Development, R&D-->
<app-whatarewe></app-whatarewe> <!--Quotes on Bosch-->
<app-contactus></app-contactus> <!--Contact Tab-->
