<mat-card>
  <div class="center">
  <q>
    At Bosch Limited, we are strongly committed to realizing the nation’s vision through empowering not just our own organization but also players across industries to leverage opportunities and competencies and turn India’s growth vision into a reality. ‘Lakshya’, Bosch India’s initiative for its future-proofing, focuses on five pillars – Customer Centricity, Collaboration, Start-up Culture, People Centricity and Sustainable growth; Bosch endeavours to provide technologies and solutions to equip India to find a place amongst the top global economies within the next few decades.
  </q>
</div>
 <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Success">
     <img src="assets/success.jpg">
     <a href="https://bosch.in/our-company/our-history/">Learn more on our story of Success</a>
    </mat-tab>
    <mat-tab label="Responsbility">
      <img src="assets/Growth.jpg">
     <a href="https://www.bosch.in/our-company/our-responsibility/corporate-social-responsibility/">Corporate Social Responsibility in India</a>
    </mat-tab>
  <mat-tab label="Join Us">
     <img src="assets/Joinus.jpg">
     <a href="https://bosch.in/our-company/our-history/">Grow. Inspire. Click now j oin Bosch</a>
  </mat-tab>
</mat-tab-group>
</mat-card>
